<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.hammyhavoc"
        versionCode = ""
        version     = "1.0" >

	<name>Hammy Havoc</name>

	<description></description>

	<author href="https://www.hammyhavoc.com" email="me@hammyhavoc.com">Hammy Havoc</author>

	<gap:platform name="android" />

	<preference name="disallowOverscroll" value="true" />
	<preference name="webviewbounce" value="false" />

	<!-- PhoneGap plugin declaration -->
	<gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
	<gap:plugin name="cordova-plugin-network-information" source="npm" />
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	
	<!-- Whitelist policy  -->
	<access origin="*" />
	<allow-intent href="*" />
	<allow-navigation href="*" />

	<!-- Icon and Splash screen declaration -->
</widget>
